.contact-container {
    background: linear-gradient(180deg, #0E2F7E 0%, #824246 50%, #F6550D 100%);
    text-align: center;
    /* width: 1,340px;
    height: 1,584px; */
    margin: 100px 0;
    padding: 50px;
    gap: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 1);
}

.contact-modes {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    column-gap: 20px;
    margin-top: 50px;
}

.contact-card {
    border: 1px solid #FFFFFF1A;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    text-align: left;
    border-radius: 50px;
    padding: 50px 30px;
}

.card-icon {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 20px;
}

.contact-link {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}

.link-format {
    color: white;
    text-decoration: none;
}

@media (max-width: 940px) {
    .contact-container {
        width: 100%;
        padding: 20px;
    }

    .contact-modes {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .contact-card {
        padding: 20px;
        text-align: left;
    }
    
    /* .contact-link {
        margin: 0 auto;
    } */

}

.contact-link:hover{
    box-shadow: 50px rgba(0, 123, 255, 0.1) inset;
}