.footer-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0;
    height: 200px;
    margin-bottom: 50px;
    /* overflow: hidden; */
}

.top {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: -50px; */
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-around; */
}

.logo-img {
    overflow: visible;
    height: 60px;
    width: 347.67px;
    object-fit: cover;
    margin-bottom: -30px;
}

.rc-number {
    color: red;
    margin-right: 40px;
    font-size: 8px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 44px;
}

.social-icon {
    width: 44px;
    height: 44px;
    padding: 10px;
    cursor: pointer;
    transition: all 1s;
    border: 1px solid rgba(31, 31, 31, 0.1);
    border-radius: 10px;
}

.social-icon a:hover{
    box-shadow: 0px 0px 50px 0px rgba(0, 123, 255, 0.1) inset;
}

.border-line {
    border: 1px solid rgba(31, 31, 31, 0.1)
}

.copyright {
    color: rgba(31, 31, 31, 0.5);
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
}

.copyright .links {
    display: flex;
    /* gap: 20px; */
}

.reach-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

/* Background Blur */
.tos-backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Box */
.tos-modal {
  background: white;
  width: 90%;
  max-width: 760px;
  max-height: 70vh;
  border-radius: 12px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  animation: popup 0.2s ease-in-out;
}

.tos-modal h2 {
  text-align: center;
}

/* Scrollable Terms Content */
.tos-content {
  max-height: 55vh;
  overflow-y: auto;
  /* padding-right: 10px; */
}

/* Close Button */
.close-btn {
  position: absolute;
  right: 12px;
  top: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Smooth popup animation */
@keyframes popup {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


@media (max-width: 768px) {
    .footer-container {
        margin: 0 auto;
        height: 315px;
        width: 100%;
        padding-top: 0;
        padding-bottom: 50px;
    }

    .top {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    .logo {
        align-items: center;
        text-align: center;
        /* margin: -70px 0; */
        margin-bottom: 20px;
    }

    .logo-img {
        width: 275px;
    }

    .rc-number {
        margin-right: 0;
        margin-left: 170px;
    }
    
    /* .logo-img {
        padding: 0;
        height: 300px;
        width: 275px; 

    } */
     
    .socials {
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    .tos-modal h2 {
        font-size: 20px;
    }
    
    .tos-content {
        font-size: 14px;
    }
}


@media screen and (max-width: 468px) {
    .socials {
        gap: 30px;
        /* height: 40px; */
    }

    /* .social-icon {
        width: 40px;
        height: 40px;
    } */
    
    .reach-us {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #000;
    }
    
    .tos-modal h2 {
        font-size: 16px;
    }
    
    .tos-content {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .socials {
        gap: 20px;
    }
}