* {
  /* max-width: 100%; */
  box-sizing: border-box;
  /* margin: 0; */
}

html {
  scroll-behavior: smooth;
}

html, body {
  /* overflow-x: hidden; */
  width: 100%;
}

body {
  scroll-margin-top: 110px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 50px;
  font-family: Poppins;
}

@media (max-width: 900px) {
  body {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
